<ion-view view-title="Markup List">

  <!-- header bar -->
  <ion-nav-buttons side="left" class="custom-bg">
    <button menu-and-drawer-toggle class="button button-icon header-icon">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon header-icon">
      <i class="icon ion-ios-gear"></i>
    </button>
  </ion-nav-buttons>

  <!-- content -->
  <ion-content>
    
		<div class="customlist">

    	<div class="customlist__body icon-left-right">
    		<div class="customlist__item">
    			<div class="customlist__link pos-relative">
            <div class="customlist__img">
							<img src="img/dummyicon.png" alt="">
						</div>
						<div class="customlist__content center-absolute">
							<div class="customlist__heading font-small">Minum Obat</div>
							<div class="customlist__text">Lorem ipsum dolor sit ammet lorem</div>
						</div>
						<div class="customlist__icon">
							<i class="oticon oticon-grey-next"></i>
						</div>
    			</div>
    		</div>
			</div>

			<div class="customlist__body icon-left">
				<div class="customlist__item">
    			<div class="customlist__link pos-relative">
						<div class="customlist__img">
							<img src="img/dummyicon.png" alt="">
						</div>
						<div class="customlist__content center-absolute">
							<div class="customlist__heading font-small">Minum Obat</div>
							<div class="customlist__text">Lorem ipsum dolor sit ammet lorem lorem lorem</div>
						</div>
    			</div>
    		</div>
			</div>

			<div class="customlist__body icon-right">
    		<div class="customlist__item">
    			<div class="customlist__link pos-relative">
						<div class="customlist__img">
							<img src="img/dummyicon.png" alt="">
						</div>
						<div class="customlist__content center-absolute">
							<div class="customlist__heading font-small">Minum Obat</div>
							<div class="customlist__text">Lorem ipsum dolor sit ammet lorem lorem lorem</div>
						</div>
    			</div>
    		</div>
			</div>

      <div class="customlist__body is-normal">
    		<div class="customlist__item">
    			<div class="customlist__link pos-relative">
						<div class="customlist__content center-absolute">
							<div class="customlist__text">Normal List</div>
						</div>
						<div class="customlist__icon">
							<i class="oticon oticon-grey-next"></i>
						</div>
    			</div>
    		</div>
			</div>

      <div class="customlist__body icon-left">
        <div class="customlist__item">
					<div class="customlist__link">
						<div class="customlist__img">
							<img src="img/dummyicon.png" alt="">
						</div>
						<div class="customlist__content">
							<div class="customlist__heading normal-wrap font-small">
							  <span class="font-bold-normal color-grey" data-lang="pat_supportmessage_text_dari">dari</span>
                <span class="font-bold">Nama Pasien</span>
							</div>
							<div class="customlist__text normal-wrap font-medium">
								Lorem ipsum dolor sit ammet lorem lorem lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste accusantium ea numquam eius voluptatem reprehenderit, consequuntur earum ducimus aliquam, impedit veniam illo provident similique qui, quam deleniti veritatis? Minima, consequuntur.
							</div>
						</div>
					</div>
				</div>
      </div>

      <div class="customlist__body icon-right">
        <div class="customlist__item">
          <div class="customlist__link">
            <div class="customlist__img">
              <img src="img/dummyicon.png" alt="">
            </div>
            <div class="customlist__content">
              <div class="customlist__heading normal-wrap font-small">
                <span class="font-bold-normal color-grey" data-lang="pat_supportmessage_text_dari">dari</span>
                <span class="font-bold">Nama Pasien</span>
              </div>
              <div class="customlist__text normal-wrap font-medium">
                Lorem ipsum dolor sit ammet lorem lorem lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste accusantium ea numquam eius voluptatem reprehenderit, consequuntur earum ducimus aliquam, impedit veniam illo provident similique qui, quam deleniti veritatis? Minima, consequuntur.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>

</ion-view>
