<ion-view view-title="Markup">

  <!-- header bar -->
  <ion-nav-buttons side="left" class="custom-bg">
    <button menu-and-drawer-toggle class="button button-icon header-icon">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon header-icon">
      <i class="icon ion-ios-gear"></i>
    </button>
  </ion-nav-buttons>

  <!-- content -->
  <ion-content class="with-padding">
    <h4>Form</h4>
    <div class="form-cont">
      <select name="" id="" class="form-select bg-light">
        <option value="Indonesia">Indonesia</option>
        <option value="English">English</option>
        <option value="Japanese">Japanese</option>
      </select>

    </br>

      <select name="" id="" class="form-select bg-dark">
        <option value="Indonesia">Indonesia</option>
        <option value="English">English</option>
        <option value="Japanese">Japanese</option>
      </select>

      </br>

      <button class="custom-button">Submit</button>
      <button class="custom-button" disabled>Button Disabled</button>

      <input type="text" value="This is value" class="form-input">
      </br>
      <input type="text" placeholder="This is placeholder">
      </br>
      <input type="email" placeholder="This is placeholder">
      </br>
      <input type="password" placeholder="This is placeholder">
      </br>
      <input type="number" placeholder="This is placeholder">
      </br>

      <!-- checkbox -->
      <input type="checkbox" id="showpasswordlogin" />
      <label for="showpasswordlogin"><span></span>Show password</label>
      <!-- end checkbox -->

      <textarea name="name" placeholder="textarea"></textarea>
    </div>
  </ion-content>

</ion-view>
