<ion-side-menus enable-menu-with-back-views="false">

  <ion-nav-bar class="bar-stable custom-bg" align-title="center" no-tap-scroll="true"></ion-nav-bar>

  <ion-pane drawer-menu-content>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <!-- drawer overlay -->
  <div class="drawer-overlay" ng-click="closeDrawer()"></div>

  <drawer side="left" canDrag="true">

    <!-- header bar -->
    <ion-header-bar class="bar-stable custom-bg">
      <button class="button button-icon close-icon" menu-and-drawer-toggle>
        Button
      </button>
      <button class="button button-icon" ui-sref="app.calendar" menu-and-drawer-close>
        Button
      </button>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <div class="customlist">
        <div class="customlist__body icon-left">
          <div class="customlist__item">
            <div class="customlist__link pos-relative" ui-sref-active="active" menu-and-drawer-close ui-sref="app.markup">
              <div class="customlist__img">
                <img src="img/dummyicon.png" alt="">
              </div>
              <div class="customlist__content center-absolute">
                <div class="otsulist__heading font-heading font-normal font-bold-normal">Markup Global</div>
              </div>
            </div>
          </div>
          <div class="customlist__item">
            <div class="customlist__link pos-relative" ui-sref-active="active" menu-and-drawer-close ui-sref="app.markup-list">
              <div class="customlist__img">
                <img src="img/dummyicon.png" alt="">
              </div>
              <div class="customlist__content center-absolute">
                <div class="otsulist__heading font-heading font-normal font-bold-normal">Markup List</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>

  </drawer>
</ion-side-menus>
