
// font setting
$font-heading: Arial, sans-serif;
$font-body: Arial, sans-serif;



// padding & margin setting
$global-padding: 15px;


// loader setting
$yloaderwidth: 100px;
$yloaderzoom: 1.7;
$loader-overlay: rgba(0,0,0,0.3);
$loader-first-color: $primary-color;


// header setting
$header-height: 55px;
$header-font-color: white;
$header-text-shadow: 0 1px 1px rgba(0,0,0,0.3);
$header-font-size: 20px;



// drawer setting
$drawer-width: 270px;
$drawer-color-state: $primary-color;


// form setting
$input-padding: 16px;
$input-font-size: 17px;
$input-field-font-size: 15px;
$input-line-height: 1;
$input-border-radius: $input-padding * 2;
$input-checkbox-radius: 24px;


// list setting
$list-icon-size: 19%;
$list-img-size: 40px;
