.clearfix {
  @include clearfix;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-absolute($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  -webkit-transform: translate(-$left, -$top);
  transform: translate(-$left, -$top);
}
