.customlist {}

	.customlist__body {}

		.customlist__item{
			@include clearfix;
			border-bottom: 1px solid $secondary-color;
		}

		.customlist__link {
			padding: 10px 15px;
			display: block;
			position: relative;
			@include clearfix;
			// background: green;
		}

			.customlist__content {
				width: 80%;
				float: left;
				padding-left: 5px;
			}

				.customlist__body.icon-left-right .center-absolute {
					width: 63% !important;
				}

				.customlist__body.icon-left .center-absolute {
					width: 63% !important;
				}

				.customlist__body.icon-right .center-absolute {
					@include center-absolute(50%, 0);
					width: 73% !important;
					left: $global-padding !important;
				}

				.customlist__body.is-normal .center-absolute {
					@include center-absolute(50%, 0);
					width: 73% !important;
					left: $global-padding !important;
				}

				drawer .customlist__body .center-absolute {
					padding-left: $global-padding;
				}

			.customlist__heading {
				font-weight: 600;
			}

			.customlist__text {
				font-size: 16px;
			}

			.customlist__heading,
			.customlist__text {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.customlist__heading.normal-wrap,
			.customlist__text.normal-wrap {
				text-overflow: clip;
				white-space: normal;
			}

			.customlist__img {
				// background: brown;
			}

			.customlist__img img {
				display: inline-block;
				margin-bottom: -5px;
				width: $list-img-size;
				height: $list-img-size;
				-webkit-border-radius: $list-img-size;
				border-radius: $list-img-size;
			}

				.customlist__body.is-normal .customlist__link {
					padding: $global-padding * 1.9;
				}

				.customlist__body.icon-left .customlist__img {
					width: $list-icon-size;
					float: left;
				}

				.customlist__body.icon-right .customlist__img {
					text-align: right;
					width: $list-icon-size;
					float: right;
				}

				.customlist__body.icon-left-right .customlist__img {
					width: $list-icon-size;
					float: left;
				}

				.customlist__body.icon-left-right .customlist__content {
					width: 70%;
				}

			.customlist__icon {
				position: absolute;
				top: 50%;
				right: 15px;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}


// accordion
.customlist__body.for-accordion .item {
	// border-color: red;
}
.customlist__body.for-accordion .item.item-accordion {
	padding-top: $global-padding;
	padding-bottom: $global-padding;
	background: #eee;
}
.customlist__body.for-accordion .item.item-accordion.ng-hide {
  line-height: 0px;
}
.customlist__body.for-accordion .item.item-accordion.ng-hide-add,
.customlist__body.for-accordion .item.item-accordion.ng-hide-remove {
  display: block !important;
}
