.form-cont {
	color: $secondary-color;
}

	.form-select {
		-webkit-appearance: none;
		appearance: none;
		background: none;
		border: none;
		outline: none;

		border: none;
		padding: $input-padding - 2.3;
		width: 100%;
		display: block;
		font-family: $font-body;
		font-size: $input-font-size - 1;
		line-height: $input-line-height;
		-webkit-border-radius: $input-border-radius;
		border-radius: $input-border-radius;
		position: relative;
	}

		.form-select.bg-light {
			border: 1px solid $border-color;
			background: $secondary-color url(../img/select-drop-dark.png) no-repeat 95% center;
			-webkit-background-size: 15px 10.5px;
			background-size: 15px 10.5px;
			color: $primary-color;
		}

		.form-select.bg-dark {
			background: $primary-color url(../img/select-drop-light.png) no-repeat 95% center;
			-webkit-background-size: 15px 10.5px;
			background-size: 15px 10.5px;
			color: white;
		}

	.custom-button {
		padding: 0;
		background: none;
		border: none;
		width: 100%;
		padding: $input-padding;
		background: $primary-color;
		color: white;
		-webkit-border-radius: $input-border-radius;
		border-radius: $input-border-radius;
		font-size: $input-font-size;
		line-height: $input-line-height;
		font-family: $font-heading;
	}

		.custom-button.is-small {
			padding: $input-padding / 1.2;
			font-size: $input-font-size / 1.2;
			// line-height: $input-line-height / 1.5;
		}

		.custom-button:disabled {
			background: $secondary-color;
			color: $border-color;
			border: 1px solid $border-color;
		}

		.custom-button.is-transparent {
			background: transparent;
			color: $primary-color;
		}

	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {
		height: inherit;
		padding: $input-padding - 3;
		// padding-top: $input-padding / 1.2;
		width: 100%;
		display: block;
		border: 1px solid $border-color;
		background: $secondary-color;
		color: $primary-color;
		// font-family: $font-body;
		-webkit-border-radius: $input-border-radius;
		border-radius: $input-border-radius;
		font-size: $input-field-font-size;
		line-height: $input-line-height;
	}



		textarea:focus,
		textarea:active,
		input[type="text"]:focus,
		input[type="text"]:active,
		input[type="password"]:focus,
		input[type="password"]:active,
		input[type="datetime"]:focus,
		input[type="datetime"]:active,
		input[type="datetime-local"]:focus,
		input[type="datetime-local"]:active,
		input[type="date"]:focus,
		input[type="date"]:active,
		input[type="month"]:focus,
		input[type="month"]:active,
		input[type="time"]:focus,
		input[type="time"]:active,
		input[type="week"]:focus,
		input[type="week"]:active,
		input[type="number"]:focus,
		input[type="number"]:active,
		input[type="email"]:focus,
		input[type="email"]:active,
		input[type="url"]:focus,
		input[type="url"]:active,
		input[type="search"]:focus,
		input[type="search"]:active,
		input[type="tel"]:focus,
		input[type="tel"]:active,
		input[type="color"]:focus,
		input[type="color"]:active {
			border-color: $primary-color;
		}

	textarea {
		-webkit-border-radius: $input-border-radius / 2.7;
		border-radius: $input-border-radius / 2.7;
		font-size: $input-field-font-size;
		line-height: inherit;
	}

	input[type="checkbox"] {
			display:none;
	}
	input[type="checkbox"] + label span {
			display:inline-block;
			width: $input-checkbox-radius;
			height: $input-checkbox-radius;
			margin: -1px 4px 0 0;
			vertical-align:middle;
			background: $secondary-color;
			border: 1px solid $border-color;
			-webkit-border-radius: $input-checkbox-radius;
			border-radius: $input-checkbox-radius;
	}
	input[type="checkbox"]:checked + label span {
			background: url(../img/checked.png) no-repeat center center;
			-webkit-background-size: cover;
			background-size: cover;
	}
