
// biar ga ketindih logo di ios
// reference: http://www.sitepoint.com/5-ionic-app-development-tips-tricks/

// .platform-ios.platform-cordova:not(.fullscreen) /*NAME OF ELEMET*/ {
//     margin-top: 20px;
// }

.bar {
  height: $header-height;
}

.bar.bar-header {}

  .bar.bar-stable {
    border: none;
  }

  .bar.bar-stable.custom-bg {
    background: $primary-color;
  }

  .header-menu-title,
  .bar.bar-stable .title {
    color: $header-font-color;
    text-shadow: $header-text-shadow;
    font-size: $header-font-size;
    font-family: $font-heading;
  }

  .bar.bar-stable .button {
    color: $header-font-color;
    text-shadow: $header-text-shadow;
  }

.has-header {
  top: $header-height;
}

.bar.bar-stable .header-menu-title,
.bar .title {
  height: $header-height !important;
  line-height: $header-height !important;
  left: $header-height / 1.5 !important;
  top: 0;
}

.bar.bar-stable .header-menu-title {
  line-height: inherit !important;
  height: inherit !important;
  top: 50%;
  position: absolute;
  display: block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.bar .header-text {
  width: 100%;
  min-height: $header-height - 11 !important;
}

  .bar .header-text-link {
    padding-top: $header-height / 4;
    padding-right: $global-padding;
  }

.bar .header-icon {
  min-width: $global-padding * 2.6;
  min-height: $header-height - 11 !important;
  position: relative;
}

  .bar .header-icon.for-drawer {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .bar .header-icon .close-icon {
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .bar .header-icon .text-link {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
