drawer {
  display: block;
  position: fixed;
  width: $drawer-width;
  height: 100%;
  z-index: 100;
  background: #fff;
}

drawer.animate {
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

drawer.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
}
drawer.right {
  right: 0;
  top: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  box-shadow: -1px 0px 10px rgba(0,0,0,0.3);
}


// overlay style
.drawer-overlay {
  opacity: 0;
}

.drawer-open .drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
}

// style active state
drawer .active.customlist__link {
  border-right: 5px solid $border-color !important;
}
