.with-padding {
	padding: $global-padding;
}
.no-padding-top {
	padding-top: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.no-padding-right {
	padding-right: 0;
}
.no-padding-left {
	padding-left: 0;
}
.pos-absolute {
	position: absolute;
}
.pos-relative {
	position: relative;
}
.center-absolute {
	width: 100%;
	@include center-absolute();
}
